.abth1{
	color: red;
}
.abth1:hover{
	color: green;
}

.abtp{
	color: red;
}
.abtp:hover{
	color: green;
}

.container{
	justify-items: center;
}

body{
background: black;
}

*{
	margin: 0;
	padding: 0;
}